* { margin: 0; padding: 0; box-sizing: border-box; }



.text-purple { color: #0e0b11; }
.title-purple { color: #d2b8e0; font-family: 'Playfair Display', serif; font-size: 2.5rem; }

/* ESTILO DEL FONDO AZUL TOTAL */

.hero-section {
    
    height: 120vh;
    background: url('../img/imgfondo.jpg.jpg') center/cover no-repeat fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(2, 2, 5, 0.3); /* Capa suave para que el texto resalte */
}

.hero-content { position: relative; z-index: 2; }

/* BOTONES PERSONALIZADOS */
.btn-main { 
    display: inline-block;
    padding: 12px 35px;
    background: #a56cda;
    color: rgb(247, 226, 226);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    margin: 10px;
    transition: 0.3s ease;
    border: 4px solid #33065e;
}

.btn-main.outline {
    display: inline-block;
    padding: 12px 35px;
    background: #a56cda;
    color: rgb(255, 233, 233);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    margin: 10px;
    transition: 0.3s ease;
    border: 4px solid #33065e;
}

.btn-main:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    color: rgb(42, 3, 59);
}

/* FOTO OVALADA Y GRANDE */
.profile-oval-large {
    width: 300px;   /* más grande */
    height: 600px;  /* más alto */
    object-fit: cover;
    border-radius: 230px;
    border: 20px solid rgb(71, 69, 75);
    box-shadow: 0 15px 35px rgba(218, 201, 233, 0.2);
    
}

/* HABILIDADES */

.skills-section { background-color: #f2f2ff; }
.skill-card {
    background: rgb(177, 138, 228);
    padding: 20px 20px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(231, 219, 219, 0.05);
    transition: 0.3s;
    
}


.skill-card i { color: #810af1; margin-bottom: 15px; }
.skill-card:hover { transform: translateY(-10px); }


footer i {
    color: #afbaf7;
    margin-right: 8px;
    font-size: 18px;
    
}

footer {
    background: url('../img/imgfondo.jpg.jpg') center/cover no-repeat;
    position: relative;
    color: white;
    padding: 40px 0;
}

/* Capa oscura encima de la imagen (para que el texto se vea) */
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Para que el contenido quede encima */
footer * {
    position: relative;
    z-index: 2;
}

.nombre-portada {
    font-size: 2.5rem; /* más pequeño que display-1 */
    font-weight: normal;
}

.nombre-main {
    
    font-family: 'Playfair Display', serif;
    font-style: Open Sans;

    color: #ffffff;
    font-size: 3.5rem; /* nombre más destacado */
}

.apellido {
    font-family: 'Playfair Display', serif;
    font-style: Open Sans;
    color: #eee9f3;
    font-size: 3.5rem;
    margin-left: 8px;
}

.card-modern {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card-modern:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

/* Imagen con efecto */
.card-modern img {
    transition: 0.3s;
}

.card-modern:hover img {
    transform: scale(1.05);
}

